html, body { 
    margin: unset;
    padding: unset;
    background-color: #f4f6fc;
    font-family: 'Atkinson Hyperlegible', 'Courier New', Courier, monospace;
}

/* page specific header */
header {
    min-height: 70px;
}

header .menu-mobile-content, .menu-mobile-overlay{
    font-weight: normal;
    font-size: 22px;
    display: none;
}

.menu-mobile-content.show, .menu-mobile-overlay.show {
    display: block;
}

.menu-header h3{
    font-weight: normal;
    font-size: 22px;
}

.user p {
    margin: unset;
    align-content: center;
    font-size: 18px;
}

.user {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0 28px;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.header-text h1 {
    margin: unset;
    color: #35408e;
    font-size: 25px;
}

.break-button p {
    margin: unset;
    padding: 5px 25px 5px 10px;
    color: #35408e;
}

.break-button i {
    padding-left: 25px;
}

.break-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid #d2d2db;
    height: 30px;
}

.main-div {
    border-top: 1px solid #d2d2db;
    margin: 20px 0;
    width: 100%;
}

.main-body {
    display: flex;
    gap: 25px;
}

.queue-ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 550px;
    padding: 35px;
    background: white;
    border: 1px solid #d2d2db;
}

/* testing scooped borders */
.scoop-corner {
    background:#f4f6fc;
    height:20px;
    width:20px;    
    position:absolute;
}
#sw {
    left: -1px;
    bottom: -1px;
    border-radius: 0px 20px 0px 0px;
    border-top: 1px solid #d2d2db;
    border-right: 1px solid #d2d2db;
}
#se {
    right: -1px;
    bottom: -1px;
    border-radius: 20px 0px 0px 0px;
    border-top: 1px solid #d2d2db;
    border-left: 1px solid #d2d2db;
}
#nw {
    left: -1px;
    top: -1px;
    border-radius: 0px 0px 20px 0px;
    border-bottom: 1px solid #d2d2db;
    border-right: 1px solid #d2d2db;
}
#ne {
    right: -1px;
    top: -1px;
    border-radius: 0px 0px 0px 20px;
    border-bottom: 1px solid #d2d2db;
    border-left: 1px solid #d2d2db;
}

.queue-ticket h1, .queue-ticket p {
    margin: 0;
}

.queue-office, .queue-num, .queue-code {
    text-align: center;
}

.queue-office {
    color: #181818;
}

.queue-num {
    margin-top: 4px;
    margin-bottom: 12px;
    color: #414042;
    font-size: 20px;
}

.queue-code {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid #d2d2db;
}

.queue-code h1 {
    color: #343f8b;
    font-size: 55px;
}

.user-queue-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.user-queue-details p {
    margin: 0;
    font-size: 19px;
    font-weight: bold;
    color: #1b201f;
}

.user-queue-details .user-detail {
    font-weight: normal;
}

.user-name {
     grid-area: 1 / 1 / 2 / 2;
}

.user-type {
    grid-area: 1 / 2 / 2 / 3;
}

.user-purpose {
    grid-area: 2 / 1 / 3 / 3;
}

.user-in {
    grid-area: 2 / 1 / 3 / 3;
}

.ticket-div {
    border: 1px dashed #d1d1db;
    width: 100%;
}

.serving-duration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 10px 0;
}

.serving-duration p {
    font-size: 19px;
}

.serving-duration .serving-duration-timestamp {
    font-size: 40px;
    font-weight: 700;
}

.ticket-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

.ticket-buttons button {
    height: 35px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.cancel-ticket-btn {
    background: #cb0000;
}

.pause-ticket-btn {
    background: #f25325;
}

.done-ticket-btn {
    background: #00a86b;
}

/* queue panel */
.queue-status-panel {
    width: 100%;
}

.queue-status-panel h1 {
    margin: 0;
    color: #343f8d;
}

.queue-status-panel .queue-header {
    display: flex;
    margin-bottom: 12px;
}

.queue-status-panel .queue-header .notif-button {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    border: 1px solid #d1d1db;
    background: #ffffff;
    cursor: pointer;
}

.queue-status-panel .queue-header .notif-button p {
    font-size: 20px;
    padding: 0 20px 0 5px;
    color: #343f8d;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.queue-status-panel .queue-main {
    padding: 16px 24px;
    background: white;
}

.queue-status-panel .queue-main .officewindows-container {
    display: grid;
    grid-template-columns: auto;
    gap: 12px;
}


.officewindows-container .windows {
    padding: 12px 20px;
}

.officewindows-container .windows h2, p {
    margin: 0;
}

/* FOR WINDOW-UP AND WINDOW-DOWN: interchange display values between flex (when visible) and none when not visible. */
.officewindows-container .windows.window-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.officewindows-container .windows.window-up {
    background-color: #35408e;
    color: #ffffff;
}

.officewindows-container .windows.window-down {
    display: none;
    background-color: #d2d2db;
    color: #f6f6f6;
}

.officewindows-container .windows.window-break {
    display: none;
    background-color: #f25325;
    color: #ffffff;
}

.officewindows-container .windows .now-serving {
    display: flex;
}

.officewindows-container .windows .now-serving p {
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 34px;
    margin-right: 22px;
}

.queue-div {
    border: 1px dashed #d1d1db;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.queue-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.queue-container .queue-element {
    display: grid;
    grid-template-columns: min-content auto auto auto min-content;
    gap: 12px;
    color: #343f8b;
    align-items: center;
    background: #f4f6fc;
}

.queue-container .queue-element .q-num {
    background: white;
}

.queue-container .queue-element .q-num {
    width: 48px;
    height: 48px;
    display: flex;
}

.queue-container .queue-element h3 {
    font-size: 30px;
    margin: auto;
}

.queue-container .queue-element .q-code {
    display: flex;
    width: 100%;
}

.queue-container .queue-element .q-code p {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 15px;
    font-size: 32px;
    font-weight: bold;
}

.u-type, .u-purpose {
    font-weight: 700;
}

.q-acc-type, .q-purpose {
    font-size: 15px;
}

.remove-queue {
    display: flex;
    align-items: center;
}

.person-remove-i {
    color: #cc0000;
    margin-right: 20px;
    cursor: pointer;
}

/* IF CURRENTLY SERVING IN QUEUE */
#now-serving-q {
    background: #f6f6f6;
}

#now-serving-q .q-num, #now-serving-q .q-code, #now-serving-q .q-acc-type, #now-serving-q .q-purpose {
    color: #737373;
}

/* IF BEING SERVED AT ANOTHER WINDOW */
#other-window-serving {
    background: #f6f6f6;
}

#other-window-serving .q-num, #other-window-serving .q-code, #other-window-serving .q-acc-type, #other-window-serving .q-purpose, #other-window-serving .person-remove-i {
    color: #737373;
}

#other-window-serving .person-remove-i {
    cursor: default;
}

/* dialog boxes */
dialog .line-separator {
    border-bottom: 1px solid #d2d2db;
    width: 100%;
}

dialog::backdrop {
    background: #35408e;
    opacity: 0.45;
}

dialog:modal {
    font-family: "Atkinson Hyperlegible";
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    width: 550px;
}

dialog .title-bar {
    display: flex;
    flex-direction: row;
    padding: 25px;
    padding-bottom: 20px;
}

dialog p.title {
    margin: 0;
    font-weight: bold;
    color: #35408e;
    font-size: 1.5em;
}

dialog p.title.office {
    font-weight: bold;
    margin: 0;
    color: #35408e;
    font-size: 1.4em;
}

dialog .title-bar .close-button.icon-close {
    background: url("../assets/icon_close.svg");
    background-size: contain;
    height: 32px;
    width: 32px;
    margin: auto;
    margin-right: 0;
}

dialog .title-bar .close-button.icon-close:hover {
    background-color: #d8e0fa;
}

dialog .dialog-body {
    margin: 0;
    color: #181818;
    font-size: 1.25em;
    padding: 20px 30px;
}

dialog .dialog-body p {
    margin: 0;
}

dialog .dialog-body p.text-confirmation {
    font-weight: bold;
}

dialog .action-bar {
    display: flex;
    background: #f4f6fc;
    height: 50px;
    padding: 20px 25px;
}

dialog .action-bar button {
    padding: 5px 20px;
    color: #35408e;
    height: 40px;
    background: white;
    font-size:  1.2em;
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    border: 1px solid #35408e;
    background: #f4f6fc;
}

#dialog-cancel-queue p.title {
    color: #cb0000;
}

#dialog-cancel-queue .action-bar button.keep:hover {
    background-color: #d8e0fa;
}

#dialog-cancel-queue .action-bar button.confirm {
    border: 0;
    background: #cb0000;
    color: white;
    margin-left: auto;
    margin-right: 0;
}

#dialog-cancel-queue .action-bar button.confirm:hover {
    background-color: #990000;
}

#dialog-take-break .dialog-body label {
    font-weight: bold;
}

#dialog-take-break .dialog-body select {
    margin-top: 10px;
    border: 1px solid #d1d1db;
    height: 40px;
    width: 130px;
    padding: 5px 20px;
    color: #414042;
    font-family: "Atkinson Hyperlegible";
    font-size: 16px;
    appearance: none;
    background: url(../assets/down_icon.svg) no-repeat 90%;
    background-color: #f6f6f6;
}

#dialog-take-break .action-bar button.confirm {
    border: 0;
    background: #35408e;
    color: white;
    margin-left: auto;
    margin-right: 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.notif-btn-icon {
    align-content: center;
    color: #35408e;
    padding-left: 10px;
}

.account-pic {
    align-content: center;
    color: #ffffff;
    margin-left: 10px;
}

@media only screen and (max-width: 767px) {
    .main-header {
        flex-direction: column;
        align-items: start;
        margin-top: 15px;
    }

    .header-text {
        margin-bottom: 5px;
    }

    .header-text h1 {
        font-size: 25px;
    }

    .break-button {
        cursor: pointer;
    }

    .break-button p {
        font-size: 15px;
        padding-right: 20px;
        padding-left: 10px;
    }

    .break-button i {
        padding-left: 20px;
    }

    .main-div {
        margin-bottom: 10px;
    }

    .main-body {
        flex-direction: column;
        width: auto;
    }

    .queue-ticket {
        width: auto;
        padding-top: 30px;
    }

    .queue-ticket .queue-office h1 {
        font-size: 27px;
    }

    .queue-num {
        font-size: 16px;
    }

    .user-queue-details {
        grid-template-columns: unset;
    }

    .user-queue-details p {
        font-size: 15px;
    }

    .serving-duration {
        padding: 10px 0;
    }

    .serving-duration p {
        font-size: 16px;
    }

    .serving-duration .serving-duration-timestamp {
        font-size: 33px;
    }

    .ticket-buttons button {
        font-size: 15px;
        height: 30px;
    }

    .officewindows-container .windows {
        padding: 10px 13px ;
    }

    .officewindows-container .windows .window {
        align-content: center;
    }

    .officewindows-container .windows .window p {
        display: none;
    }

    .officewindows-container .windows .window h2 {
        font-size: 15px;
        align-self: center;
    }

    .officewindows-container .windows .now-serving p {
        font-size: 25px;
        margin: 0;
        align-self: center;
    }

    .queue-div {
        margin: 8px 0;
    }

    .queue-container {
        overflow-x: scroll;
    }

    .queue-container .queue-element .q-num {
        height: 100%;
    }

    .queue-container .queue-element h3,.queue-container .queue-element .q-code p {
        font-size: 25px;
    }

    .queue-container .queue-element .q-code p {
        padding-left: 5px;
    }

    .q-acc-type, .q-purpose {
        font-size: 12px;
        padding: 5px 0;
    }
}
